
body{
    transition: all 0.4s
}
form {
    max-width: 400px;
}

.checkbox {
    margin-left: 25px;
}

.pluss {
    background-color: red!important;
}

.minus {
    background-color: green!important;
}
.saporated_company{
    display:none;

}
.saporated_company span{

}
.saporated_company_media{
    display:none;
}
.saporated_company_media span{

}
.badge{
    font-size:10px;
}
tr:hover{
    background-color: rgba(192,192,192,0.4);
}
.yandex_comaign_cpc, .yandex_comaign_rsay{
    display:none;
}

.yandex_comaign_cpc span, .yandex_comaign_rsay span{

}

.openSearch,
.media,
.rsay,
.cpc{
    cursor:pointer!important;
}
.gray{
    background-color: rgba(192,192,192,0.2);

}
span.badge {
    font-size: 10px;
    padding: 3px;
    vertical-align: middle;
    margin-left: 7px;
    transition: all 0.4s
}
